<div class="flex">
  <app-sidebar class="w-[260px] fixed h-screen z-20"></app-sidebar>
    <div class="flex-1 ml-[260px]">
      <app-navbar class="fixed top-0 left-[260px] right-0 h-[64px] z-10 bg-white border-b"></app-navbar>
      <div class="m-[80px]">
        <div class="max-w-3xl mx-auto p-6 bg-white rounded-lg shadow-lg">
          <h2 class="text-2xl font-bold mb-4 text-gray-800">
            {{ isEdit ? 'Editar Plato Tipico' : 'Crear Plato Tipico' }}
          </h2>
          <form [formGroup]="platoForm" (ngSubmit)="guardarPlato()">
            <div class="space-y-6">
              <!-- Nombre y Región -->
              <div class="grid md:grid-cols-2 gap-6">
                <div>
                  <label for="nombre" class="block font-medium text-gray-700">Nombre del Plato</label>
                  <input type="text" id="nombre" formControlName="nombre" class="border p-3 rounded w-full focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. Sopa de pollo" required>
                </div>
                <div>
                  <label for="region" class="block font-medium text-gray-700">Región</label>
                  <input type="text" id="region" formControlName="region" class="border p-3 rounded w-full focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. Andes" required>
                </div>
              </div>

              <!-- Descripción e Ingredientes -->
              <div class="grid md:grid-cols-2 gap-6">
                <div class="md:col-span-2">
                  <label for="descripcion" class="block font-medium text-gray-700">Descripción</label>
                  <textarea id="descripcion" formControlName="descripcion" class="border p-3 rounded w-full focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Una breve descripción del plato" required></textarea>
                </div>
                <div class="md:col-span-2">
                  <label for="ingredientes" class="block font-medium text-gray-700">Ingredientes</label>
                  <textarea id="ingredientes" formControlName="ingredientes" class="border p-3 rounded w-full focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Lista de ingredientes" required></textarea>
                </div>
              </div>

              <!-- Origen y Tipo -->
              <div class="grid md:grid-cols-2 gap-6">
                <div>
                  <label for="origen" class="block font-medium text-gray-700">Origen</label>
                  <input type="text" id="origen" formControlName="origen" class="border p-3 rounded w-full focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. Perú" required>
                </div>
                <div>
                  <label for="tipo" class="block font-medium text-gray-700">Tipo</label>
                  <input type="text" id="tipo" formControlName="tipo" class="border p-3 rounded w-full focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. Principal" required>
                </div>
              </div>

              <!-- Botones -->
              <div class="flex justify-end gap-6 mt-6">
                <button type="submit" [disabled]="platoForm.invalid" class="bg-green-600 text-white px-8 py-3 rounded hover:bg-green-700 transition duration-300 ease-in-out">
                  {{ isEdit ? 'Actualizar' : 'Guardar' }}
                </button>
                <button type="button" class="bg-gray-300 text-gray-800 px-8 py-3 rounded hover:bg-gray-400 transition duration-300 ease-in-out" (click)="cancelar()">
                  Cancelar
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
</div>
